# A token from a Discord bot
BOT_TOKEN=discord_bot_token_here

# OpenAI api keys and models
OPENAI_API_KEY=open_ai_key
OPENAI_GPT_MODEL=gpt-4o
OPENAI_TTS_MODEL=gpt-4o-mini-tts

# Microsoft Azure key
AZURE_KEY=key
AZURE_REGION=eastus

# Database url
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/speakord?schema=public"